repos:
  - repo: local
    hooks:
      - id: make-format
        name: Run `make format`
        entry: make format
        language: system
        pass_filenames: false
        stages: [pre-commit]

      - id: make-lint
        name: Run `make lint`
        entry: make lint
        language: system
        pass_filenames: false
        stages: [pre-commit]
